Django
django-environ
django-extensions
pip-tools
flake8
mypy
psycopg2
ipython
django_debug_toolbar
django-stubs
django-model-utils
requests
beautifulsoup4
types-requests
lxml
python-dateutil
types-python-dateutil
celery
django-celery-results
flower
pytest
factory-boy
pytest-django
types-beautifulsoup4
sentry-sdk
