Django==4.0.1
django-environ==0.8.1
django-extensions==3.1.5
flake8==4.0.1
icecream==2.1.1
mypy==0.931
psycopg2==2.9.3
ipython==8.0.0
django_debug_toolbar==3.2.4
django-stubs==1.9.0
django-model-utils==4.2.0
